<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordPressClient">
        <activity
            android:name=".view.comment.CommentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.Dont_have_site_activity"
            android:exported="false" />
        <activity
            android:name=".view.ContentTextEditor"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.AboutWordpressActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.MeWebsiteActivity"
            android:exported="false" />
        <activity
            android:name=".view.MeActivity.UsernameActivity"
            android:exported="false" />
        <activity
            android:name=".view.Welcome_to_WordPress"
            android:exported="false" />
        <activity
            android:name=".view.sign_up_choose_display_name"
            android:exported="false" />
        <activity
            android:name=".view.sign_up_choose_email"
            android:exported="false" />
        <activity
            android:name=".view.Sign_Up_Page"
            android:exported="false" />
        <activity
            android:name=".view.ChooseYourWeb"
            android:exported="false" />
        <activity
            android:name=".view.posts.PostsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login_to_existing"
            android:exported="false" />
        <activity
            android:name=".view.UserWebManagement"
            android:exported="false" />
        <activity
            android:name=".view.pages.PagesActivity"
            android:exported="false" />
        <activity
            android:name=".view.media.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.FirstLoginActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth2redirect"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.comment.CommentActivity"
            android:exported="false"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>