<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordPressClient">
        <activity
            android:name=".Dont_have_site_activity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.AboutWordpressActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.MeWebsiteActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity.UsernameActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome_to_WordPress"
            android:exported="false" />
        <activity
            android:name=".Create_new_site"
            android:exported="false" />
        <activity
            android:name=".sign_up_choose_display_name"
            android:exported="false" />
        <activity
            android:name=".sign_up_choose_email"
            android:exported="false" />
        <activity
            android:name=".Sign_Up_Page"
            android:exported="false" />
        <activity
            android:name=".Choose_your_web"
            android:exported="false" />
        <activity
            android:name=".PostsActivity"
            android:exported="false" />
        <activity
            android:name=".Login_to_existing"
            android:exported="false" />
        <activity
            android:name=".UserWebManagement"
            android:exported="false" />
        <activity
            android:name=".PagesActivity"
            android:exported="false" />
        <activity
            android:name=".WordPress_media"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="oauth2redirect" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstLoginActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>